body {
    margin: 0;
}

.bar {
    border: 1px solid black;
    position: relative;
    top: 30px;
    margin-top: 0;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.return {
    position: relative;
    left: 100px;
    background-color: gray;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    top: 5px;
    border: 2px solid black;
    border-radius: 30px;
}

.catgle {
    position: relative;
    top: 20px;
    background-color: gray;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: 2px solid black;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 30px;
    margin-top: 20px;
}

.infosection {
    margin-top: 90px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-right: 500px;
    margin-left: 200px;
    margin-top: 40px;
    background-color: gray;

}

.infoheading {
    margin-top: 10px;
    margin-bottom: 0;
}

.paragraph {
    margin-top: 10px;
}

.cat {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 10%;
    position: absolute;
    left: 1130px;
    bottom: 125px;
}