.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  font-size: 40px;
}

.outerDiv {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.pokeDiv {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  width: 50%;
  height: 105%;
  justify-content: space-between;
}

.statsDiv {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 50%;
  height: 105%;
  justify-content: space-between;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: yellowgreen;
  position: relative;
}

.directionButton {
  background-color: rgb(232, 228, 228);
  width: 120px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  border: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

